Source: ossxp-cosign3
Section: ossxp
Priority: optional
Maintainer: Jiang Xin <worldhello.net@gmail.com>
Build-Depends: cdbs, debhelper (>= 5.0), build-essential, apache2-threaded-dev | apache2-prefork-dev, libssl-dev, check
Standards-Version: 1.0.0

Package: ossxp-cosign3-common
Architecture: all
Section: ossxp
Priority: optional
Depends: openssl
Suggests:
Conflicts: ossxp-cosign-common
Description: Common files for CoSign cgi and daemon.
 CoSign is a Single Sign-On from weblogin.org

Package: ossxp-cosign3-daemon
Architecture: any
Section: ossxp
Priority: optional
Depends: openssl, ossxp-cosign3-common
Suggests:
Conflicts: ossxp-cosign-daemon
Description: CoSign daemons
 CoSign is a Single Sign-On from weblogin.org

Package: ossxp-cosign3-cgi
Architecture: any
Section: ossxp
Priority: optional
Depends: ossxp-apache2, openssl, ossxp-cosign3-common, libnet-ldap-perl, python-ldap
Suggests: ossxp-secure-fail2ban (>= 0.1-3)
Conflicts: ossxp-cosign-cgi
Description: CoSign login/logout CGIs
 CoSign is a Single Sign-On from weblogin.org

Package: ossxp-cosign3-filter
Architecture: any
Section: ossxp
Priority: optional
Depends: ossxp-apache2, openssl, ossxp-cosign3-common
Suggests:
Conflicts: ossxp-cosign-filter
Description: CoSign filter for apache2
 CoSign is a Single Sign-On from weblogin.org

Package: ossxp-cosign3-doc
Architecture: all
Section: ossxp
Priority: optional
Depends:
Suggests:
Conflicts:
Description: Documents for CoSign
 CoSign is a Single Sign-On from weblogin.org
