Source: ossxp-cosign
Section: ossxp
Priority: optional
Maintainer: Jiang Xin <worldhello.net@gmail.com>
Build-Depends: cdbs, debhelper (>= 5.0), build-essential, apache2-threaded-dev | apache2-prefork-dev, libssl-dev
Standards-Version: 1.0.0

Package: ossxp-cosign-common
Architecture: any
Section: ossxp
Priority: optional
Depends: openssl
Suggests: cdbs
Description: Common files for CoSign cgi and daemon.
 CoSign is a Single Sign-On from weblogin.org

Package: ossxp-cosign-daemon
Architecture: any
Section: ossxp
Priority: optional
Depends: openssl, ossxp-cosign-common
Suggests: cdbs
Description: CoSign daemons
 CoSign is a Single Sign-On from weblogin.org

Package: ossxp-cosign-cgi
Architecture: any
Section: ossxp
Priority: optional
Depends: apache2 | ossxp-apache2, openssl, ossxp-cosign-common
Suggests: cdbs
Description: CoSign login/logout CGIs
 CoSign is a Single Sign-On from weblogin.org

Package: ossxp-cosign-filter
Architecture: any
Section: ossxp
Priority: optional
Depends: apache2 | ossxp-apache2, openssl
Suggests: cdbs
Description: CoSign filter for apache2
 CoSign is a Single Sign-On from weblogin.org

