Source: ossxp-cosign
Section: ossxp
Priority: optional
Maintainer: Jiang Xin <worldhello.net@gmail.com>
Build-Depends: cdbs, debhelper (>= 5.0), build-essential, apache2-threaded-dev | apache2-prefork-dev, libssl-dev
Standards-Version: 1.0.0

Package: ossxp-cosign
Architecture: any
Section: ossxp
Priority: optional
Depends: apache2 | ossxp-apache2, openssl
Suggests: cdbs
Description: CoSign: Single Sign-On from weblogin.org
 Single Sign-On implement.

